[Unit]
Description=iipzy-server-web 

[Service]
ExecStart=/root/.nvm/versions/node/v12.10.0/bin/node /root/.nvm/versions/node/v12.10.0/bin/serve -s /root/iipzy-service/iipzy-server-web/build -l 443 --ssl-cert /etc/pki/tls/certs/iipzy.net.crt --ssl-key /etc/pki/tls/certs/iipzy.net.key
# Required on some systems
WorkingDirectory=/root/iipzy-service/iipzy-server-web
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=iipzy-server-web
#User=<alternate user>
User=root
#Group=<alternate group>
Group=root

[Install]
WantedBy=multi-user.target