/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* for gauge indicators text */
/* see: https://stackoverflow.com/questions/12214446/google-chart-api-set-gauge-chart-font-size */

.gauge svg g text {
  font-size: 12px;
  font-weight: bold;
}
/* for middle text */
.gauge svg g g text {
  font-size: 12px;
}

.mdc-linear-progress {
  height: 10px;
}

.border-iipzy {
  border-style: solid;
  border-color: #287ec7;
  font-family: "Arial";
  font-size: 12px;
  padding: 1em;
}

.invisible-box {
  font-family: "Arial";
  font-size: 12px;
  font-weight: bold;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

/* .popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 35%;
  bottom: 35%;
  margin: auto;
  background: white;
} */

.popup_inner {
  position: relative;
  top: 35%;
  width: 450px;
  height: 200px;
  margin: auto;
  background: white;
}

.popup_inner_600x400 {
  position: relative;
  top: 20%;
  width: 600px;
  height: 400px;
  margin: auto;
  background: white;
}

.popup_inner_600x500 {
  position: relative;
  top: 20%;
  width: 600px;
  height: 500px;
  margin: auto;
  background: white;
}

.popup_inner_large {
  position: absolute;
  left: 5%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background: white;
}

.popup_spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*   background-color: rgba(0, 0, 0, 0.5); */
  opacity: 1;
  z-index: 5000;
}

.popup_spinner_inner {
  position: relative;
  top: 45%;
  width: 40px;
  height: 40px;
  margin: auto;
  background: white;
}

.invisible-button {
  border: none;
  padding: 0;
  background: none;
}
